* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: block;
}
body {
    margin: 0;
}

#pwbi {
    height: 80vh;
    margin: 0 auto;
    width: 70vw;
    display: block;
}
.flex {
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.btn {
    border: none;
    background-color: #fff;
    color: #000;
}