$primary: #221e78;
$primary_light: #5746a8;
$primary_dark: #00004b;
$secondary: #ff560a;
$secondary_light: #ff8e0a;
$secondary_dark: #f13802;
$complementary_pink: #f46c8f;
$complementary_green: #5cdeb1;
$gris: #ebebeb;
$gris_2: #dddddd;
$gris_3: #9e9fa1;
$gris_4: #4e5057;

h1 {
  color: $primary;
  font-size: 60px;
  margin: 56px 0;
}
h2 {
  color: $primary;
  font-size: 48px;
  margin: 40px 0;
}
h3 {
  color: $primary;
  font-size: 34px;
  margin: 34px 0;
}
h4 {
  color: $primary;
  font-size: 24px;
  margin: 24px 0;
}
h5 {
  color: $primary;
  font-size: 20px;
  margin: 24px 0;
}
p {
  color: $primary;
  font-size: 16px;
  margin: 20px 0;
}
p.p2 {
  color: $primary;
  font-size: 14px;
  margin: 20px 0;
}
p.p3 {
  color: $primary;
  font-size: 12px;
  margin: 16px 0;
}
p.legal {
  color: $primary;
  font-size: 10px;
  margin: 12px 0;
}
@media (max-width: 767.98px) {
  h1 {
    font-size: 24px;
    margin: 24px 0;
  }
  h2 {
    font-size: 20px;
    margin: 24px 0;
  }
  h3 {
    font-size: 16px;
    margin: 20px 0;
  }

  p {
    font-size: 12px;
    margin: 14px 0;
  }
  p.p2 {
    font-size: 14px;
    margin: 20px 0;
  }

  p.legal {
    font-size: 10px;
    margin: 12px 0;
  }
}
